<div class="row">
  <div class="col-12 d-grid mt-3 mb-3">
    <button routerLink="/shippings/create" class="btn btn-success w-100">
      New Shipping
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Model</th>
          <th>Year</th>
          <th>Maker</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shipping of list$ | async">
          <td>{{ shipping.user }}</td>
          <td>{{ shipping.guitars }}</td>
          <td>{{ shipping.address }}</td>
          <td>{{ shipping.price }}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-info">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
